<section class="charts hidden">
  <div class="upper-container chart-container">
    <web-graph-chart name="Web Graph" chart-data="$ctrl.webGraphChartData" concept-data="$ctrl.conceptsChartData" class="web-graph-chart left loading"></web-graph-chart>
    <concepts-chart name="Concepts" chart-data="$ctrl.conceptsChartData" class="concepts-chart right loading"></concepts-chart>
  </div>
  <div class="middle-container chart-container">
    <pca-scatter-chart name="PCA" api-event="PCA_SCATTER_CHART" chart-data="$ctrl.pcaScatterChartData" class="scatter-chart left loading">
    </pca-scatter-chart>
    <pca-scatter-chart name="t-SNE" api-event="TSNE_SCATTER_CHART" chart-data="$ctrl.tsneScatterChartData" class="scatter-chart right loading">
    </pca-scatter-chart>
  </div>
  <div class="lower-container chart-container">
    <grid-chart name="Results Grid" web-graph-data="$ctrl.webGraphChartData" concept-data="$ctrl.conceptsChartData" class="full loading"></grid-chart>
</section>
