<section class="results">

  <div class="loading">
    <i class="fas fa-spinner fa-pulse"></i>
    <p>Loading results...</p>
  </div>

  <div class="inner">
    <div ng-repeat="item in $ctrl.data" ng-click="clickedResult($event, item, $index)" class="entry result-{{$index}}">
      <h1><a href="{{item.url}}">{{item.title}}</a></h1>
      <p>{{item.excerpt}}</p>
      <p class="url">{{item.url}}</p>
    </div>
  </div>
</section>

<section class="panel">
  <radar-chart concept-data="$ctrl.conceptsChartData" chart-data="$ctrl.radarChartData" class="radar-chart"></radar-chart>
</section>
