<section class="search">
  <form ng-submit="$ctrl.search()">
    <h1 class="logo">Visual<b>Engine</b></h1>
    <div class="input">
      <h2 class="logo"><a href="/">V<b>E</b></a></h2>
      <input class="searchbox " type="text " ng-model="query_input " />
      <button type="submit ">Search</button>
    </div>
  </form>
</section>
