<search query="query_input" results="query_results" class="search-component"></search>
<charts class="charts-component" web-graph-chart-data="web_graph_chart_data" concepts-chart-data="concepts_chart_data" query="query_input"
  pca-scatter-chart-data="pca_scatter_chart_data" tsne-scatter-chart-data="tsne_scatter_chart_data"></charts>
<results data="query_results" radar-chart-data="radar_chart_data" concepts-chart-data="concepts_chart_data" class="results-component hidden"></results>
