.d3-context-menu-theme {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: $text-color;

  ul li {
    padding: 4px 20px;
    &.is-header {
      color: #afafaf;
      font-weight: normal;
      background: inherit;
      &:hover {
        font-weight: normal;
        background: inherit;
        color: #afafaf;
      }
    }
    &.is-disabled {
      background: inherit;
      color: inherit;
      opacity: 0.3;
    }
  }
}
