/******************************************************************

Variables

******************************************************************/

// Scheme: https://coolors.co/f06543-e8e9eb-e0dfd5-313638-f09d51

$black: #231f20;
$white: #fff;

$light-gray: #f8f9fa;
$gray: #eaedf2;
$text-color: #5c6b80;

$link-color: $black;
$link-hover: darken($link-color, 9%);

$border-color: #ccc;
$disabled-gray: #cfcfcf;
$alert-red: red;
$alert-green: #645564;
$alert-blue: blue;

$platinum-color: #e8e9eb;
$tomato-color: #f06543;
$onyx-color: #313638;
$sandy-color: #f09d51;

// margins
$left-margin: 115px;

// dimensions
$search-bar-height-collapsed: 100px;
$search-bar-height-collapsed-slim: 60px;
