<div class="concepts-chart chart">
  <div class="chart-label">
    {{name}}
  </div>
  <div class="loading">
    <i class="fas fa-spinner fa-pulse"></i>
    <p>Loading {{name}}...</p>
  </div>
</div>
