<div class="radar-chart">
  <div class="chart">

  </div>

  <div class="legend">
    <div class="inner">
      <div ng-repeat="item in data.data" class="entry">
        <div ng-style="{ background: item.color }" class="box-color"></div>
        <div class="title">{{item.group}}</div>
      </div>
    </div>
  </div>
</div>
