.charts-component {
  width: 100vw;
}

section.charts {
  position: relative;
  z-index: 500;
  height: calc(100vh - #{$search-bar-height-collapsed});
  margin-top: $search-bar-height-collapsed;
  width: 100%;
  //padding: 0 $left-margin;
  @include css-gradient(lighten($platinum-color, 5%), lighten($platinum-color, 4%));
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  transition: height 0.5s ease-in;

  &.hidden {
    display: none;
  }

  p {
    margin: 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
  }

  .chart-container {
    height: 100%;
    canvas {
      width: 100%;
      height: 100%;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    .chart {
      width: 100%;
      height: 100%;
    }

    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
    .full {
      width: 100%;
    }
  }

  .upper-container {
    height: 43%;
    display: flex;

    .left {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .middle-container {
    height: 43%;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .left {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .lower-container {
    height: 14%;
    display: flex;
  }

  .chart {
    position: relative;
    &.loading {
      .loading {
        display: flex;
      }
    }

    // label of the chart
    .chart-label {
      position: absolute;
      left: 20px;
      top: 10px;
      background: rgba(255, 255, 255, 0.9);
      @include css-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
      padding: 10px;
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 500;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border-top: 1px solid #fff;

      /*
      padding: 10px 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px  solid rgba(0, 0, 0, 0.1);
      background: rgba(255, 255, 255, 0.8);font-weight: 500;
      */
    }

    // the loading screen of a chart
    .loading {
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        padding-top: 15px;
      }
      i {
        font-size: 26px;
      }
    }
  }
}

// style all graphs that have dots in the same way
.concepts-chart,
.scatter-chart {
  .dot {
    fill-opacity: 0.6;
    &.selected {
      fill-opacity: 1;
    }
    &.dimmed {
      fill-opacity: 0.1;
    }
  }
}
