.results-component {
  display: flex;

  &.hidden {
    display: none;
  }

  section.results {
    position: relative;
    z-index: 400;
    padding: 30px 40px 30px $left-margin;
    transition: opacity 0.5s 0.5s;
    background-color: lighten($platinum-color, 8%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    //box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    width: 70%;
    div.inner {
      border: 0;

      div.entry {
        padding: 10px 10px;
        margin: 0 0 8px 0;
        max-width: 700px;
        border-radius: 5px;
        &.selected {
          //background-color: lighten($platinum-color, 6%);
          border-left-color: rgba(0, 0, 0, 0.2);
          border-left: 5px solid;
        }
        h1 {
          color: $onyx-color;
          margin: 0 0 6px 0;
          padding: 0;
          font-size: 1.3em;
          a {
            color: darken($text-color, 5%);
            font-weight: 400;
          }
        }
        p {
          font-family: "Roboto", sans-serif;
          color: darken($platinum-color, 40%);
          font-size: 0.9em;
          margin: 0 0 6px 0;
          padding: 0;
          line-height: 1.3;
          &.url {
            font-size: 0.8em;
            color: $tomato-color;
            margin: 0;
          }
        }
        &:hover {
          background-color: lighten($platinum-color, 5%);
        }
      }
    }

    &.loading {
      .loading {
        display: flex;
      }
      .inner {
        display: none;
      }
    }

    .loading {
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        padding-top: 15px;
      }
      i {
        font-size: 26px;
      }
    }
  }

  section.panel {
    width: 30%;
    height: 100vh;
    z-index: 450;
    position: -webkit-sticky; // required for Safari
    position: sticky;
    top: 0; // required as well.
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }
}
