.search-component {
  width: 100vw;
}

section.search {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include css-gradient($platinum-color, darken($platinum-color, 2%));
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: height 0.5s;

  form {
    width: 100%;
    .input {
      transition-duration: 0.5s;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 100px;
      input {
        font-family: "Roboto", sans-serif;
        height: 40px;
        width: 500px;
        border: 0px;
        //box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        padding: 2px 16px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
      }
      button {
        height: 40px;
        border: 0;
        margin: 0 0 0 4px;
        @include css-gradient($tomato-color, darken($tomato-color, 5%));
        //box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        color: #fff;
        border-radius: 2px;
        padding: 0 20px;
        //text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
      }
    }

    h1 {
      font-weight: 300;
      font-size: 4em;
    }
    h2 {
      padding: 0 40px;
      margin: 0;
      display: none;
    }
    text-align: center;
  }
  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

// collapsed search bar
section.search.collapsed {
  height: $search-bar-height-collapsed;
  h1 {
    display: none;
  }
  h2 {
    display: block;
  }
  form {
    .input {
      justify-content: left;
      //margin: 0 0 0 -150px;
      padding: 0;
      input {
        width: 600px;
      }
    }
  }
}

section.search.collapsed.slim {
  height: $search-bar-height-collapsed-slim;
  form {
    .input {
      justify-content: left;
      //margin: 0 0 0 -150px;
      padding: 0;
      input {
        width: 600px;
      }
    }
  }
}
