.page-tooltip {
  position: absolute;
  pointer-events: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  @include css-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
  z-index: 10000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition-duration: 0.5s, 0.3s, 0.3s;
  transition-property: opacity, left, top;
  padding: 18px 18px;
  margin: 0;
  width: 350px;

  .spinner {
    font-size: 24px;
    display: none;
    width: 100%;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
  }

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.4;
    color: lighten(#5c6b80, 4%);
    span.concept-num {
      &::before {
        content: "#";
      }
    }
    span.result-num {
      &::before {
        content: "#";
      }
    }
  }

  p.content {
    margin: 0;
    font-size: 13px;
    margin-top: 8px;
    line-height: 1.3;
  }

  p.link {
    font-size: 10px;
    margin: 8px 0px 0px 0px;
    word-wrap: none;
    a {
      color: $tomato-color;
    }
  }

  &.hidden {
    opacity: 0;
  }

  &.loading {
    .spinner {
      display: block;
      p {
        font-size: 16px;
        margin: 0;
        padding: 12px 0 0 0;
      }
    }
    .content {
      display: none;
    }
  }
}
