.concepts-chart {
  .panel {
    stroke: rgb(131, 131, 131);
    fill: transparent;
    &.dimmed {
      stroke: rgba(0, 0, 0, 0.1);
    }
  }

  .bg {
    fill: transparent;
  }

  .dot {
    fill-opacity: 0.7;
    &.concept-page {
      fill-opacity: 1;
      &.fake {
        opacity: 0;
      }
    }
    &.label-node {
      fill-opacity: 1;
      //stroke: rgb(131, 131, 131);
      //stroke-width: 1px;
    }
  }

  .link {
    stroke: silver;
    stroke-opacity: 0.05;
    &.concept-link {
      stroke-opacity: 0.5;
      &.fake {
        opacity: 0;
      }
    }
    &.dimmed {
      stroke-opacity: 0.02;
    }
    &.selected {
      stroke-opacity: 0.5;
    }
  }

  .label {
    font-family: "Roboto", sans-serif;
    fill: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    &.dimmed {
      fill: rgba(0, 0, 0, 0.1);
    }
  }
}
