.radar-chart {
  width: 100%;
  height: 100%;
  .chart {
    height: 55%;
    display: flex;
    align-items: end;
  }
  .legend {
    padding: 0px 20px;
    height: 45%;
    overflow: hidden scroll;
    border: 20px solid #fff;
    &::-webkit-scrollbar {
      width: 15px;
    }
    .inner {
      .entry {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        display: flex;
        align-items: center;
        .box-color {
          border-radius: 3px;
          flex-shrink: 0;
          width: 15px;
          height: 15px;
          background: #000;
        }
        .title {
          padding: 5px 10px;
        }
      }
    }
  }
}
