.web-graph {
  height: 100%;
  .links line {
    stroke-width: 1px;
    stroke: rgba($color: #999, $alpha: 0.4);
    &.highlight {
      stroke: rgba($color: #000, $alpha: 0.8);
    }
    &.dimmed {
      stroke: rgba($color: #000, $alpha: 0.01);
    }
  }

  .nodes circle {
    fill: #3e3e3e;
    fill-opacity: 1;
    stroke: #fff;
    stroke-width: 1px;
    &.dimmed {
      fill-opacity: 0.2;
    }
  }
}
